<footer style="border-top: 1px solid var(--border)">
  <div
    class="max-w-3xl mx-auto px-5 py-8 flex flex-col sm:flex-row items-center justify-between gap-4"
  >
    <!-- logo -->
    <div class="flex items-center gap-2.5">
      <div class="w-6 h-6 bg-[#E8334A] flex items-center justify-center">
        <span class="mono text-white font-bold text-[9px]">SB</span>
      </div>

      <span class="mono text-[10px] tracking-widest uppercase c-ink5">
        Subhrangsu Bera · Front-End Developer
      </span>
    </div>

    <!-- links -->
    <div class="flex gap-5 font-mono">
      <a
        href="#skills"
        class="mono text-[10px] c-ink5 hover:text-[#E8334A] transition-colors duration-200"
      >
        Skills
      </a>

      <a
        href="#work"
        class="mono text-[10px] c-ink5 hover:text-[#E8334A] transition-colors duration-200"
      >
        Work
      </a>

      <a
        href="#projects"
        class="mono text-[10px] c-ink5 hover:text-[#E8334A] transition-colors duration-200"
      >
        Projects
      </a>

      <a
        href="#contact"
        class="mono text-[10px] c-ink5 hover:text-[#E8334A] transition-colors duration-200"
      >
        Contact
      </a>
    </div>
  </div>
</footer>
